<%- include('../partials/head') %>

<body>
  <%- body %>

  <% if (alert) { %>
 <script>
  <% if (alert.mode === "swal") { %>
    Swal.fire({
      icon: "<%= alert.type %>",
      title: "<%= alert.title %>",
      text: "<%= alert.message %>"
    });
  <% } %>

  <% if (alert.mode === "toast") { %>
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
    });

    Toast.fire({
      icon: "<%= alert.type %>",
      title: "<%= alert.message %>"
    });
  <% } %>
</script>
  <% } %>

</body>
</html>




